
<div class="carousel carousel-slider center">
  <div class="carousel-item white-text" color="primary" href="#one!">
    <h2>Race Alarm</h2>
    <p class="white-text">Consultez le temps restant avant une course automobile - HTML / CSS / JS</p>
    <img src="../../../../assets/raceAlarm.png" alt="">
    <a href="https://github.com/jessiebarre/race-alarm">Git Hub</a>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Second Panel</h2>

    <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>
