<p fxLayout.lt-lg="row"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cum et ex nam, nostrum odit? Alias, aliquam architecto assumenda, eius esse excepturi itaque nostrum perspiciatis quos saepe, similique ullam ut.</span></p>

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-vertical-stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step label="2019 - Formation développement web">
      <p>Simplon. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at distinctio esse ipsa, nemo perferendis totam. Beatae consequatur culpa ducimus est fuga hic ipsum iusto quam repellat similique, ullam ut?</p>
    </mat-step>
    <mat-step label="2019-2021 - Renault Digital Inclusive University">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolorem eaque error incidunt labore magnam, nihil nulla odit omnis placeat quaerat, quibusdam quidem ratione tempore totam velit vitae voluptate.</p>
    </mat-step>
  </mat-vertical-stepper>
</div>

<h2>Utilisation fréquente</h2>
<ul>
  <li>HTML5</li>
  <li>CSS3</li>
  <li>Bootstrap</li>
</ul>

<h2>En cours d'acquisition</h2>
<ul>
  <li>Javacript</li>
  <li>Angular / Typescript</li>
  <li>Java</li>
</ul>



