<p fxLayout.lt-lg="row"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cum et ex nam, nostrum odit? Alias, aliquam architecto assumenda, eius esse excepturi itaque nostrum perspiciatis quos saepe, similique ullam ut.</span></p>

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-vertical-stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step label="2007 - Assistante Planning stratégique">
      <p>Agence H (Havas). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at distinctio esse ipsa, nemo perferendis totam. Beatae consequatur culpa ducimus est fuga hic ipsum iusto quam repellat similique, ullam ut?</p>
    </mat-step>
    <mat-step label="2009 - Master 2 Profesionnel - Communication">
      <p>CELSA. Communication, marketing, management des médias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolorem eaque error incidunt labore magnam, nihil nulla odit omnis placeat quaerat, quibusdam quidem ratione tempore totam velit vitae voluptate.</p>
    </mat-step>
    <mat-step label="2012 - Rédactrice et chargée d'e-réputation">
      <p>PRO BTP - Direction de la Relation Adhérents (Cagnes-sur-mer). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum placeat sapiente totam! Aspernatur aut commodi corporis facere laboriosam pariatur quam quod rerum velit voluptate. Aliquam ipsum iste nesciunt voluptate.</p>
    </mat-step>
    <mat-step label="2014 - Conceptrice-rédactrice">
      <p>PRO BTP - Direction de la Communication (Vincennes). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum placeat sapiente totam! Aspernatur aut commodi corporis facere laboriosam pariatur quam quod rerum velit voluptate. Aliquam ipsum iste nesciunt voluptate.</p>
    </mat-step>
  <mat-step label="2017 - Rédactrice des débats">
    <p>AB Report (Paris). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum placeat sapiente totam! Aspernatur aut commodi corporis facere laboriosam pariatur quam quod rerum velit voluptate. Aliquam ipsum iste nesciunt voluptate.</p>
  </mat-step>
  <mat-step label="2018 - Master 2 Professionnel - Stratégie numérique">
    <p>CELSA. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum placeat sapiente totam! Aspernatur aut commodi corporis facere laboriosam pariatur quam quod rerum velit voluptate. Aliquam ipsum iste nesciunt voluptate.</p>
  </mat-step>
  </mat-vertical-stepper>
</div>

<h2>Hard skills</h2>
<ul>
  <li>Capacités rédactionnelles</li>
  <li>Synthèse</li>
  <li>Gestion de projet</li>
</ul>

<h2>Soft skills</h2>
<ul>
  <li>Lorem</li>
  <li>Ipsum</li>
</ul>


