<section fxLayout="column" fxLayoutAlign="start center">
    <div fxFlexAlign="center">
        <h3 class="title animated bounceInDown">Jessie Barré</h3>
    </div>

    <div fxFlexAlign="center" class="quote-div">
        <p class="job animated bounceInDown">Développeuse web Angular / Java</p>
    </div>

    <div fxLayout="column">
      <p class="quote animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores atque dolor eum excepturi explicabo in, incidunt magni nesciunt nulla obcaecati odit quam quibusdam, sit suscipit. Doloribus magnam nesciunt vel.</p>
    </div>
</section>
